/*=======================================================================
= Call To Action 
=========================================================================*/
.contact {
    &--layout1 {
        padding: 55px 0 25px;
        position: relative;
        z-index: 1;
        margin-bottom: -123px;
        @include respond-below(md) {
            padding: 50px 0 60px;
        }
        &::before {
            position: absolute;
            content: "";
            width: calc(100% - 396px);
            height: 100%;
            left: 0;
            top: 0;
            background-color: $colorPrimary;
            z-index: -1;
            border-radius: 0 60px 0 0;

            @include respond-below(xxlg) {
                width: 100%;
            }
        }
    }
}