.city-state-section a, .city-block a, .related-properties a {
    color: #000;
}
.title-underline {
    width: 60px;
    height: 2px;
    background-color: var(--color-primary);
    margin-top: 10px;
}
.custom-pagination .page-item.active .page-link{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.custom-pagination .page-link:hover, .custom-pagination .page-link {
    color: var(--color-primary);
}
.custom-pagination .page-link:focus {
    box-shadow: none;
}
.custom-pagination .pagination {
    justify-content: left;
}
.city-block-header {
    background-color: var(--color-primary);
}
.city-block i {
    margin-right: 5px;
    color: var(--color-primary);
}
.banner {
    padding-block: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h1 {
    border-left: 5px solid var(--color-primary);
    padding-left: 5px;
    font-weight: 900;
    font-size: 3.1rem;
}
.theme-primary-color {
    color: var(--color-primary);
}
.page-template-listing-map .rtcl-pagination {
    display: none!important;
}
.country-tabs {
    justify-content: center;
}

.country-tabs li {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 15px;
    color: #555;
    position: relative;
    transition: all 0.3s ease;
}

.country-tabs li i {
    margin-right: 6px;
    color: #666;
    transition: color 0.3s ease;
}

.country-tabs li.active {
    color: var(--color-primary);
}

.country-tabs li.active i {
    color: var(--color-primary);
}

.country-tabs-wrap {
    border-bottom: 2px solid #eee;
}

/* underline effect */
.country-tabs li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
}

.country-filter .btn-group-toggle {
    display: inline-flex;
    border-radius: 50px; /* fully rounded pill */
    overflow: hidden;
    border: 1px solid #ccc;
}

.country-filter .btn-country {
    border: none;
    min-width: 80px;
    padding: 8px 20px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px;
}
.country-filter .btn-country:focus {
    box-shadow: none;
}

.country-filter .btn-country.active {
    background-color: var(--color-primary);
    color: #fff;
}

