/*=======================================================================
= Mobile Menu
=========================================================================*/
.mobile-nav-item.hide-on-desktop-menu {
    width: 100%;
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
    .mobile-logo {
        a {
            font-size: 48px;
            font-weight: 700;
            line-height: 55px;
            color: $colorWhite;
        }
    }
}
.template-main-menu {
    .cirkle-main-menu {
        @media only screen and (max-width: 1199px) {
            display: none;    
        } 
    }
}
.rt-mobile-menu.mean-container {
    display: none;
    @media only screen and (max-width: 1024px) {
      display: block;    
    } 
}
.rt-slide-nav {
  position: absolute;
  background: white;
  width: 100%;
  left: 0;
  z-index: 99;
  top: 75px;
  display: none;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  box-shadow: 0px 0px 10px 0px #0000001c;
}
.header-main {
  @media only screen and (min-width: 991px) {
    .site-logo {
      .header-logo.sticky-logo {
        .logo-dark {
          // display: none;
        }
      }
    }
  }
  @include respond-below(mmd) {
    .site-logo {
      .header-logo.sticky-logo {
        .logo-light {
          display: none;
        }
      }
    }
  }
  &.header-fixed {
    .site-logo {
      .header-logo.sticky-logo {
        .logo-light {
          display: none;
        }
        .logo-dark {
          display: block;
        }
      }
    }
  }
}
.transparent-header {
  .header-logo {
    a.logo-dark {
      display: none;
      @include respond-below(mmd) {
        display: block;    
      } 
    }
  }
}
.rt-slide-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  ul {
    border-top: 1px solid #dfe7ff;
  }
}
body .sidebarBtn {
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .sidebarBtn .bar {
  background: $colorWhite;
  height: 2px;
  width: 25px;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.white-bg {
    .sidebarBtn .bar {
      background: $colorSecondary;
    }
}
body .sidebarBtn .bar:last-child {
  margin-bottom: 0;
}
body.slidemenuon .sidebarBtn .bar:nth-child(2) {
  opacity: 0;
}
body.slidemenuon .sidebarBtn .bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0, 7px);
  -ms-transform: rotate(45deg) translate(0, 7px);
  transform: rotate(45deg) translate(0, 7px);
}
body.slidemenuon .sidebarBtn .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3px, -10px);
  -ms-transform: rotate(-45deg) translate(3px, -10px);
  transform: rotate(-45deg) translate(3px, -10px);
}
.offscreen-navigation .children,
.offscreen-navigation .sub-menu {
  display: none;
}
.offscreen-navigation ul li {
  margin: 0;
  position: relative;
  border-bottom: 1px solid #dfe7ff;
  &:last-child {
    border: none;
  }
}
.offscreen-navigation li > a {
  display: block;
  position: relative;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  padding-bottom: 7px;
  padding-top: 7px;
}
.offscreen-navigation li > a:hover {
  background: rgba(0, 113, 220, 0.05);
}
.offscreen-navigation ul > li > a {
  padding-left: 15px;
}
.offscreen-navigation ul ul > li > a {
  padding-left: 30px;
}
.offscreen-navigation ul ul ul > li > a {
    padding-left: 45px;
}
.offscreen-navigation .children li > a,
.offscreen-navigation .sub-menu li > a {
    font-size: 13px;
}
.offscreen-navigation li.menu-item-has-children > span,
.offscreen-navigation li.page_item_has_children > span {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 99999;
    position: absolute;
    display: inline-block;
}
.offscreen-navigation li.menu-item-has-children > span:before,
.offscreen-navigation li.page_item_has_children > span:before {
  top: 7px;
  right: 10px;
  display: none;
  font-size: 12px;
  transition: .1s;
  font-size: 16px;
  content: '\f068';
  font-weight: 700;
  position: absolute;
  font-family: "Font Awesome 6 Free";
}
.offscreen-navigation li.menu-item-has-children > span:after,
.offscreen-navigation li.page_item_has_children > span:after {
  top: 10px;
  right: 12px;
  font-size: 12px;
  transition: .1s;
  font-weight: 700;
  content: '\2b';
  position: absolute;
  display: inline-block;
  font-family: "Font Awesome 6 Free";
}
.offscreen-navigation li.menu-item-has-children > span.open,
.offscreen-navigation li.page_item_has_children > span.open {
    &::before {
      display: block;
    }
    &::after {
      display: none;
    }
}

// Logout devices
.header-fixed {
  .rt-slide-nav {
    top: 60px;
  }
}
.transparent-header {
  .rt-slide-nav {
    top: 75px;
  }
  &.top-bar-enable {
    .rt-slide-nav {
      top: 115px;
    }
  }
  .header-fixed {
    .rt-slide-nav {
      top: 60px;
    }
  }
}
.top-bar-enable {
  .rt-slide-nav {
    top: 115px;
  }
  .header-fixed {
    .rt-slide-nav {
      top: 60px;
    }
  }
  @media only screen and (max-width: 480px) {
    .rt-slide-nav {
      top: 145px;
    }
    .header-fixed {
      .rt-slide-nav {
        top: 60px;
      }
    }
  }
  &.transparent-header {
    @media only screen and (max-width: 480px) {
      .rt-slide-nav {
        top: 135px;
      }
      .header-fixed {
        .rt-slide-nav {
          top: 60px;
        }
      }
    }
  }
}
// Login devices
.admin-bar {
  &:not(.transparent-header) {
    .rt-slide-nav {
      top: 109px;
    }
    .header-fixed {
      .rt-slide-nav {
        top: 100px;
      }
    }
    @media only screen and (max-width: 782px) {
      .rt-slide-nav {
        top: 120px;
      }
      .header-fixed {
        .rt-slide-nav {
          top: 61px;
        }
      }
    }
    @media only screen and (max-width: 480px) {
      .rt-slide-nav {
        top: 120px;
      }
      .header-fixed {
        .rt-slide-nav {
          top: 60px;
        }
      }
    }
  }
  &:not(.transparent-header) {
    &.top-bar-enable {
      .rt-slide-nav {
        top: 145px;
      }
      .header-fixed {
        .rt-slide-nav {
          top: 60px;
        }
      }
      @media only screen and (max-width: 782px) {
        .rt-slide-nav {
          top: 160px;
        }
        .header-fixed {
          .rt-slide-nav {
            top: 60px;
          }
        }
      }
      @media only screen and (max-width: 480px) {
        .rt-slide-nav {
          top: 190px;
        }
        .header-fixed {
          .rt-slide-nav {
            top: 60px;
          }
        }
      }
    }
  }
}
.menu-layout2 {
  .rt-slide-nav {
      top: 92px;
      @media only screen and (max-width: 991px) {
        top: 65px;   
      }
      @media only screen and (max-width: 767px) {
        top: 55px; 
      } 
  }
}

.admin-bar {
    nav.template-main-menu {
        top: 32px;
        @media only screen and (max-width: 782px){
          top: 45px; 
        }
    }
    &.mn-top {
        nav.template-main-menu {
            @media only screen and (max-width: 600px){
              top: 0; 
            }
        } 
    }
}
